
.word
  color yellow

.wordlist
  background-color: white
  margin 10px
  padding 10px
  border-color: gray300;
  border-style: solid solid none;
  border-width: 2px 0 0;

.wordlist-title
  padding-bottom: 10px;
  border-color: gray300;
  border-style: none none solid;
  border-width: 0 0 1px;

.worditem
  margin: 0

.item
  padding: 10px 15px 0 !important
  border-color: gray300;
  border-style: none none solid solid;
  border-width: 1px;

.separator
  margin-top 10px
  margin-bottom 10px
  border-top 1px solid #b7b7b7
